* {
    word-wrap: break-word;
}

body {
  font-family: 'Microsoft YaHei',微软雅黑,宋体，Tahoma,Helvetica,'SimSun',sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #ddd;
  background: #EDEDED;
  border-top: 5px solid #fc0;
  box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

nav ul {
  padding: 0;
  margin: 0;
  margin-left:1em; 
  list-style: circle outside none; 
}

nav li {
  display: inline-block;
}

.main {
  position: relative; 
  margin: 0 auto; 
  max-width: 1024px; 
  _width: 1024px;
}

.hd { 
  color: #1E90FF; 
  text-align: center; 
  text-shadow: 0 1px 1px #222; 
  height: 150px;
  width: 1000px;
  background: url("/img/header.jpg") no-repeat center 0px;
}

.hd h1 { 
  font-size: 36px;
  padding: 16px 0; 
}

.main-nav {
  padding: 0;
  margin: 0 0 0 2cm;
  position:relative; 
  letter-spacing:2px; 
  font-size:22px;
}

.main-nav li { 
  float:left; 
  padding-right:20px; 
}

.main-nav li a {
  border-radius: 5px;
  text-shadow: none;
  text-decoration:none; /*去掉链接下划线*/
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

.main-nav li a:hover {
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(238,230,133,.1);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.main-nav li.current a {
  color: #222;
  box-shadow: inset 0 1px 0 rgba(238,230,133,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(238,230,133,.3);
}

.frame {
    background: none repeat scroll 0% 0% transparent;
    width: 1000px;
    margin: 10px;
}

.block {
    padding: 0px;
    margin: 0px 5px 10px;
    border: 1px solid rgb(221, 221, 221);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.block .title {
    padding: 0px 10px;
    font-size: 15px; 
    color: rgb(51, 51, 51);
    background: url("/img/title.png") repeat-x scroll 0px 0px rgb(234, 241, 242);
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 32px;
    ont-weight: 700;
    line-height: 32px;
    overflow: hidden;
}

.as {
    padding: 0px;
    margin: 10px 0px 10px 10px;
}








