* {
    word-wrap: break-word;
}

body {
  font-family: 'Microsoft YaHei',微软雅黑,宋体，Tahoma,Helvetica,'SimSun',sans-serif;
  /*
  font-size: 21px;
  font-weight: 200;
  color: #ddd;
  */
  background: #EDEDED;
  border-top: 5px solid #fc0;
  box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
}

body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}

/*----------*/

#all {
    width: 1000px;
    margin: 0 auto;
}

.main {
  position: relative; 
  margin: 0 auto; 
}

.hd { 
  color: #1E90FF; 
  text-align: center; 
  text-shadow: 0 1px 1px #222; 
  height: 120px;
  background: url("/img/header.jpg") no-repeat center 0px;
}

.hd h1 {
  font-size: 36px;
  padding: 16px 0; 
}

.main-nav {
  padding: 0;
  margin: 0 0 0 2cm;
  position:relative; 
  letter-spacing:2px; 
  font-size:22px;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-left:1em; 
  list-style: none; 
}

.main-nav li { 
  float:left; 
  padding-right:20px; 
}

.main-nav li a:hover {
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(238,230,133,.1);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: rgb(51, 51, 51);
}

.main-nav li.current a {
  color: #222;
  box-shadow: inset 0 1px 0 rgba(238,230,133,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(238,230,133,.3);
}

.main-nav li a {
  border-radius: 5px;
  text-shadow: none;
  text-decoration: none; /*去掉链接下划线*/
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
  color: rgb(101, 101, 101);
}

.ft {
    border-top: 1px solid rgb(204, 204, 204);
    padding: 10px 0px 50px;
    line-height: 1.8;
    color: rgb(102, 102, 102);
    border: 0px none;
    width: 1000px;
    margin: 0px auto;
    text-align: center;
}

.cont {
    display: block;
    overflow: auto;  /* important */
}

/*-------------------*/
.pic {
    text-align: center;
    margin: 15px;
}

.picd {
    text-align: center;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

/*-----------------*/
.frame_left {
    float: left;
    display: inline;
    width: 260px;
    margin: 15px 0px 0px 20px;
}

.frame_right {
    float: right;
    display: inline;
    width: 700px;
    margin: 15px 10px 0px 0px; 
    overflow: auto;  /* important */
}

.block {
    padding: 0px;
    margin: 0px 5px 10px;
    border: 1px solid rgb(221, 221, 221);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.block .title {
    padding: 0px 10px;
    font-size: 18px; 
    color: rgb(240, 133, 25);
    background: url("/img/title.png") repeat-x scroll 0px 0px rgb(234, 241, 242);
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 32px;
    font-weight: 700;
    line-height: 32px;
    overflow: hidden;
}

.block .dxb_bc {
    padding: 0px 10px 10px;
}

.hm {
    text-align: center;
}

.mbn {
    margin-bottom: 5px !important;
    font-size: 16px;
    color: rgb(255, 185, 15);
}

.desc {
    font-size: 20px;
    text-align: center;
    color: rgb(51, 51, 51);
}

/*---------------*/
.post {
    display: block;
    overflow: auto;  /* important */
    border-bottom: 2px solid rgb(20, 20, 20);
    padding: 10px 0px 0px 0px;
    background: none repeat scroll 0% 0% rgb(245, 245, 220);
    margin: 0px 20px;
}

.conent_collect {
    float: left;
    width: 500px;
    padding: 0px 15px 15px;
}

.content_info {
    font-size: 16px;
    text-align: left;
    line-height: 160%;
    float: left;
    display: inline;
/*    width: 140px;*/
    padding: 0px 0px 10px;
    margin: 20px 0px 0px;
}

.post h3 {
    font-size:21px;
}

.post h3 a {
    color: rgb(30, 144, 255);
    text-decoration: none;
    transition: color 0.5s ease-in 0s;
}

.post h3 a:hover {
    text-decoration: underline;
}

.post_content {
    line-height: 130%;
    text-indent: 2em;
}

.summary {
    padding: 10px 0px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    text-indent: 32px;
}

.read_all {
    font-size: 18px;
    text-align: center;
}

a.read {
    text-decoration: none;
    color: #7F7F7F;
}

a.read:hover {
    text-decoration: underline;
    color: rgb(100, 149, 237);
}

.info_date {
    font-size: 18px;
    color: rgb(100, 0, 0);
}

.post_date {
    font-size: 15px;
    color: rgb(10,10,110);
}

.info_category {
    font-size: 18px;
    color: rgb(100, 0, 0);
}

.post_category {
    font-size: 15px;
    line-height: 30px;
}

a.category {
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 5px 5px 0px;
    line-height: 30px;
    white-space: nowrap;
    background: none repeat scroll 0% 0% #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    font-family: Georgia,Tahoma;
    text-decoration: none;
}

a.category:hover {
    text-decoration: underline;
}

.info_tag {
    font-size: 18px;
    color: rgb(100, 0, 0);
}

.post_tag {
    font-size: 15px;
    line-height: 30px;
}

a.tag {
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 5px 5px 0px;
    line-height: 30px;
    white-space: nowrap;
    background: none repeat scroll 0% 0% #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    font-family: Georgia,Tahoma;
    text-decoration: none;
}

a.tag:hover {
    text-decoration: underline;
}

/* ------------ */
.post_cont {
    background: none repeat scroll 0% 0% rgb(252, 242, 215);
    margin: 15px 25px;
    padding: 5px 25px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgb(150, 150, 150);
}

.post_cont h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(10, 192, 238);
    margin: 25px 0px;
}

.post_cont h2 {
    margin: 5px 25px;
    font-size: 24px;
    color: rgb(90, 192, 238);
}

.post_cont h3 {
    margin: 2px 25px;
    font-size: 22px;
    color: rgb(120, 192, 238);
}

.post_cont p {
    font-size: 18px;
    text-indent: 36px;
    color: rgb(51, 51, 51);
    line-height: 150%;
    margin: 5px 0px;
}
 
#blog h1 {
    text-align: center;
    font-size: 35px;
    margin: 25px;
    color: rgb(10, 192, 238);
}

#blog p {
    margin: 5px 25px;
    font-size: 18px;
    text-indent: 36px;
    color: rgb(51, 51, 51);
    line-height: 150%;
}

#blog h2 {
    margin: 5px 25px;
    font-size: 24px;
    color: rgb(90, 192, 238);
}

#blog h3 {
    margin: 2px 25px;
    font-size: 22px;
    color: rgb(120, 192, 238);
}

/*---------------*/
.ct_list_title {
    text-align: center;
    font-size: 30px;
    color: rgb(251, 200, 56);
    background: none repeat scroll 0% 0% rgb(200, 200, 20);
    margin: 25px;
    border-radius: 20px 20px 20px 20px;
}

.ct_list {
    margin: 0px 25px;
}

.tag_box {
    list-style: none outside none;
    overflow: hidden;
}

.tag_box.inline li {
    float: left;
}

.tag_box li {
    line-height: 150%;
    font-size: 24px;
}

.tag_box a {
    display: inline-block;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
    background: none repeat scroll 0% 0% rgb(25, 238, 230);
    border: 1px dashed rgb(150, 150, 150);
}

.tag_box a:hover {
    background: none repeat scroll 0% 0% rgb(25, 200, 256);
}

.tag_box a span {
    vertical-align: super;
    font-size: 15px;
}

.ct_list h5 {
    border-radius: 10px 10px 10px 10px;
    padding: 7px 20px;
    background: none repeat scroll 0% 0% rgb(121, 123, 120);
    font-size: 20px;
    margin: 20px 0px;
    color: rgb(255, 215, 0);
}

.ar_list {
    padding: 0px 0px 0px 20px;
    font-size: 18px;
    list-style: circle outside none;
}

.ar_list li {
    line-height: 24px;
    position: relative;
    padding: 2px 0px;
}

.ar_list li a {
    text-decoration: none;
    color: rgb(30, 144, 255);
}

.ar_list li a:hover {
    text-decoration: underline;
}

.ar_list li span {
    text-align: right;
    position: absolute;
    right: 0px;
    color: rgb(51, 51, 51);
}


/*--------------*/
.as_categories {
    list-style: circle inside none;
    overflow: hidden;
    font-size: 20px;
    padding: 10px 0px 10px 15px;
}

.as_categories li {
    padding: 3px;
}

.as_categories a {
    text-decoration: none;
    background: none repeat scroll 0% 0% rgb(25, 238, 230);
    border-radius: 15px 15px 15px 15px;
    margin: 5px;
    border: 1px dashed rgb(150, 150, 150);
    padding: 1px 2px;
}

.as_categories a span {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 10px 10px 10px 10px;
    padding: 1px 6px;
    vertical-align: middle;
    margin: 0px 5px;
}

.as_categories a:hover {
    background: none repeat scroll 0% 0% rgb(25, 200, 256);
}

#as_tags li {
    font-size: 20px;
    line-height: 100%;
}

#as_tags a span {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 10px 10px 10px 10px;
    padding: 1px 6px;
    vertical-align: middle;
    margin: 0px 0px 0px -4px;
}

/*----------------*/
.year {
    font-size: 25px;
    margin: 10px 0px;
}

.month {
    font-size: 23px;
    color: rgb(30, 144, 225);
    padding: 10px 0px 10px 10px;
}

/*---------------*/
pre.command-line {
    font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;
    border: 2px solid rgb(221, 221, 221);
    background-color: rgb(107, 12, 67);
    color: rgb(255, 255, 255);
    padding: 10px;
    overflow: hidden;
}

pre.command-line em {
    color: rgb(249, 254, 100);
    font-style: italic;
}

pre.command-line .comment {
    color: rgb(204, 204, 204);
}

pre span {
    white-space: pre-wrap;
}

code {
    font-family: Menlo,Consolas,"Courier New",Courier,"Liberation Mono",monospace;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.5);
    white-space: pre;
    display: inline-block;
    text-indent: 0px;
    font-size: 16px;
    color: rgb(25, 25, 255);
}

/* ------------ */
.archive {
    display: block;
    margin: 10px 20px;
}

.archive li {
    list-style: none outside none;
    margin: 5px;
    line-height: 120%;
}
 
.archive li a {
    text-decoration: none;
    color: rgb(255, 117, 0);
    font-size: 18px;
}

.archive li a:hover {
    text-decoration: underline;
}


/*--------------*/
.pagination {
    padding: 20px 0px;
    text-align: center;
    font-size: 20px;
    color: rgb(30, 144, 255);
}

#post-pagination {
    background: none repeat scroll 0% 0% rgb(245, 245, 220);
    margin: 0px 20px;
}

#post {
    background: none repeat scroll 0% 0% transparent;
    margin: 0px 0px 20px;
}

.previous {
    float: left;
}

a.previous {
    text-decoration: none;
    color: rgb(30,144,255);
}

a.previous:hover {
    text-decoration: underline;
}

.disabled {
    color: rgb(144, 144, 144);
}

.current-page {
    font-weight: bold;
}

.next {
    float: right;
}

a.next {
    text-decoration: none;
    color: rgb(30,144,255);
}

a.next:hover {
    text-decoration: underline;
}

