---
layout: default
title: 博客标签
---
{% include JB/setup %}

<section class="ct_list_title">
    <h4>{{ page.title }}</h4>
</section>

<section class="ct_list">
  <ul class="tag_box inline">
    {% assign tags_list = site.tags %}
    {% include JB/tags_list %}
  </ul>


{% for tag in site.tags %}
  <h5 id="{{ tag[0] }}-ref">{{ tag[0] }}</h5>
    <ul class="ar_list">
      {% assign pages_list = tag[1] %}
      {% include JB/pages_list %}
    </ul>
{% endfor %}
</section>

  <script src="{{ BASE_PATH }}/js/jquery.scrollUp.min.js"></script>
  <script>
    $(function () {
      $.scrollUp();
    });
  </script>
