<header class="hd">
    <h1> LYM -- 放浪形骸，踏歌雾霭；君心可晴，且歌且行 </h1>
    <nav class="main-nav">
        <ul>
	  <li><a href="/home.html"><strong>主页</strong></strong></li>
	  <li><a href="/"><strong>博客</strong></a></li>
	  <li><a href="/about.html"><strong>关于我</strong></a></li>
	  <li><a href="/contact.html"><strong>联系方式</strong></a></li>

          <li>
            <form class="navbar-search" action="{{ BASE_PATH }}/search.html" method="get">
              <input name="query" type="text" class="search-query" placeholder="搜索">
            </form>
          </li>

        </ul>
    </nav>
</header>
