---
layout: default
---

<div class="frame_left">
   <div class="block">
    <div class="blocktitle title">
         <span>我的头像</span>
    </div>
    <div class=dxb_bc>
         <div class="hm">
          <section>
	    <a href="/about.html">
	      <img src="/img/head.jpg" class="tooltip" title="联系请点击图像" alt="lym的博客" width="200px" height="145px"></img>
            </a>
          </section>
	  <h4 class="mbn">LYM</h4>
          </div>
          <div class="desc">
	    欢迎访问我的博客空间！
          </div>
      </div>
     </div>

    <div class="block">
      <div class="blocktitle title">
        <span>博客存档</span>
      </div>  
      <div>
        <ul class="archive">
            {% assign posts_list = site.posts %}
            {% include JB/posts_list %}
        </ul>
       </div>    
    </div>

    <div class="block">
      <div class="blocktitle title">
        <span>博客分类</span>
      </div>  
      <div>
        <ul class="as_categories">
            {% assign categories_list = site.categories %}
            {% include JB/categories_list %}
        </ul>
       </div>    
    </div>

    <div class="block">
      <div class="blocktitle title">
        <span>博客标签</span>
      </div>  
      <div>
        <ul id="as_tags" class="tag_box inline">
         {% assign tags_list = site.tags %}
         {% include JB/tags_list %}
        </ul>
       </div>    
    </div>
</div>

<div class="frame_right">
    {{content}}
</div>
