---
layout: default
---
<div class="frame">
   <div class="frame_b" style="width:260px">
   <div class="block">
    <div class="blocktitle title">
         <span>我的头像</span>
    </div>
    <div class=dxb_bc>
         <div class="hm">
          <p>
	    <img src="/img/head.jpg"></img>
          </p>
	  <h2 class="mbn">LYM</h2>
          </div>
          <div class="desc">
	    欢迎访问我的博客空间！
          </div>
      </div>
     </div>
     </div>

   <div class="frame_b" style="width:700px">
    <section id="content">
	<h2>{{ page.title }}</h2>
	{{content}}
    </section>
   </div>

</div>   

