<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} LYM的私人博客 </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <div class="main">

    <header class="hd">
      <h1> LYM -- 放浪形骸，踏歌雾霭；君心可晴，且歌且行 </h1>
      <nav class="main-nav">
        <ul>
	  <li><a href="/"><strong>主页</strong></strong></li>
	  <li><a href="/blog.html"><strong>博客</strong></a></li>
	  <li><a href="/about.html"><strong>关于我</strong></a></li>
	  <li><a href="/contact.html"><strong>联系方式</strong></a></li>
        </ul>
      </nav>
    </header>
	
    <article>
      {{ content }}
    </article>

    <footer>
      <p>版权所有：LYM</p>
    </footer>

  </div>
</body>
</html>
