<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="google-site-verification" content="8GIgkxp9uuN2B50dKH3Rz7zqJygkn8lNRNJ-S7QgT70" />
  <meta name="360-site-verification" content="cf51c05de995e88f770dcacbf8444927" />
  <meta name="baidu-site-verification" content="YikF8ztBJdUo2Zjp" />
  <meta name="description" content="LYM的私人博客, lym406365619" />
  <title> {% if page.title %} {{ page.title }} | {% endif %} LYM的私人博客 </title>
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/atom.xml">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div id="all">

  <div class="main">
    {% include header.html %}   
  </div>
  
  <div class="cont" id="blog">
      {{ content }}
  </div>

  {% include footer.html %}  

</div>
</body>
</html>
